<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>COUNTER</h1>

    <p id="count">Counter: {{session['count']}}</p>
    <p id="page_count">Page Counter: {{session['page_count']}}</p>

    <div class="buttons">
        <a href="" class="click">Click</a>
        <a href="/destroy_session" class="reset">Reset</a>
    </div>

    <div class="buttons">
        <a href="/add_two" class="add-two">+2</a>
    </div>

    <div id="counter-form">
        <form action="/increase_by_num" method="POST">
            <input type="number" name="num" placeholder="1">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>